$black: #000000;
$green: #68b738;
$dark-green: #5eaa2f;
$basic-grey: #b2b2b2;
$special-grey-light: #ebebeb;
$special-grey-range: #bebebe;
$special-grey: #cdcdcd;
$border-grey: #d9d9d9;
$input-border: #e7e7e7;
$grey-bg: #eaeaea;
$grey: #666666;
$dark-grey: #444444;
$darkest-grey: #222222;
$error: #ff8282;
$white: #ffffff;
$smoke-white: #f2f2f2;
$input-hover-grey: #bababa;
$range-grey: #cecece;
$range-bg: #dcdcdc;
$range-shadow: #d6d6d6;
$tablet-width: 768px;
$only-mobile: $tablet-width - 1;
$desktop-width: 1440px;

