extends common/base

block variables
  -title = "Подбор программы"
  -location = 'form.html'

block content
  include includes/header
  main
    include includes/form-content
    include includes/contacts
  include includes/footer


