extends common/base

block variables
  -
    let title = 'Кэт энерджи'
    location = '/'

block content
  include includes/header
  main
    include includes/index-promo
    include includes/index-features
    include includes/index-desc
    include includes/index-example
    include includes/contacts
  include includes/footer
