section.contacts
  div.__wrapper.container
    h3._title Приглашаем к&nbsp;сотрудничеству дилеров!
    div
      p._address ул. Большая Конюшенная, д. 19/8
      p._city Санкт-Петербург
  div._location
    picture
      source(media="(min-width: 1440px)" srcset="./img/location-large.jpg, ./img/location-large@2x.jpg 2x")
      source(media="(min-width: 768px)" srcset="./img/location-medium.jpg, ./img/location-medium@2x.jpg 2x")
      img(src="./img/location-map.jpg" srcset="./img/location-map@2x.jpg 2x" alt="Карта проезда")._map
