section.promo
  div._wrapper.container
    h1._title Функциональное питание для котов
    p._slogan Занялся собой? Займись котом!
    |
    |
    picture
      source(media="(min-width: 1440px)" srcset="img/index-promo-product-large.png, img/index-promo-product-large@2x.png 2x")
      source(media="(min-width: 768px)" srcset="img/index-promo-product-medium.png, img/index-promo-product-medium@2x.png 2x")
      img(src="img/index-promo-product.png" srcset="img/index-promo-product@2x.png 2x" width="280" height="270" alt="Рекламный товар")._photo
    |
    |
    a(href="/form.html")._link.button Подобрать программу
