section.features.container
  h2.visually-hidden Программы
  ul._list
    li._item
      h3._title.-slimming Похудение
      p._text Ваш кот весит больше собаки и почти утратил способность лазить по деревьям? Пора на диету! Cat Energy Slim поможет вашему питомцу сбросить лишний вес.
      |
      |
      a(href="/")._link.link Каталог slim
    li._item
      h3._title.-gain Набор массы
      p._text Заработать авторитет среди дворовых котов и даже собак? Серия Cat Energy Pro поможет вашему коту нарастить необходимые мышцы!
      |
      |
      a(href="/")._link.link Каталог pro
