.green-link {
  display: block;
  background-color: $green;
  text-transform: uppercase;
  color: $white;
  width: auto;
  text-align: center;
  padding: 1em 0;
  text-decoration: none;
  font-size: 14px;
  margin: 0 20px;
}
